streamlit~=1.57.0
matplotlib~=3.9.2
utils~=1.0.2
stable_baselines3~=2.7.0
numpy~=1.26.4
gymnasium~=0.29.1
osmnx~=2.0.7
networkx~=3.4.2
geopandas~=1.0.1
pip~=24.2
attrs~=25.4.0
distro~=1.9.0
wheel~=0.37.1
protobuf~=7.34.1
Pillow~=9.4.0
tornado~=6.5.2
Jinja2~=3.1.2
